In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_excel("housesheet.xlsx")

In [3]:
df

   s.no        room doors window chairs  sofa lights  fans    tv
0     1     dinning   one    two   four  none    one   one  none
1     2        hall   two    one    two   one    two  none   one
2     3     kitchen   one   none   none   two    one   two  none
3     4     bedroom   two    one    one   one    two   one   one
4     5     balcony   one   none    two  none    one   two   one
5     6  guest room   one    one    two   two    two   one   two

In [4]:
rp={'doors':{'one':1,'two':2},
 'window':{'one':1,'two':2,'none':None},
 'chairs':{'one':1,'two':2,'four':4,'none':None},
 'sofa':{'one':1,'two':2,'none':None},
 'lights':{'one':1,'two':2},
 'fans':{'one':1,'two':2,'none':None},
 'tv':{'one':1,'two':2,'none':None}}

In [32]:
house=df.replace(rp)

In [33]:
house

   s.no        room  doors  window  chairs  sofa  lights  fans   tv
0     1     dinning      1     2.0     4.0   NaN       1   1.0  NaN
1     2        hall      2     1.0     2.0   1.0       2   NaN  1.0
2     3     kitchen      1     NaN     NaN   2.0       1   2.0  NaN
3     4     bedroom      2     1.0     1.0   1.0       2   1.0  1.0
4     5     balcony      1     NaN     2.0   NaN       1   2.0  1.0
5     6  guest room      1     1.0     2.0   2.0       2   1.0  2.0

encode() method is the method which allows us to convert a string into a specific format

In [8]:
encode={'doors':{'one':1,'two':2},
 'window':{'one':1,'two':2,'none':None},
 'chairs':{'one':1,'two':2,'four':4,'none':None},
 'sofa':{'one':1,'two':2,'none':None},
 'lights':{'one':1,'two':2},
 'fans':{'one':1,'two':2,'none':None},
 'tv':{'one':1,'two':2,'none':None}}

In [9]:
encode

{'doors': {'one': 1, 'two': 2},
 'window': {'one': 1, 'two': 2, 'none': None},
 'chairs': {'one': 1, 'two': 2, 'four': 4, 'none': None},
 'sofa': {'one': 1, 'two': 2, 'none': None},
 'lights': {'one': 1, 'two': 2},
 'fans': {'one': 1, 'two': 2, 'none': None},
 'tv': {'one': 1, 'two': 2, 'none': None}}

The info() method prints information about the DataFrame

In [10]:
house.info

<bound method DataFrame.info of    s.no        room  doors  window  chairs  sofa  lights  fans   tv
0     1     dinning      1     2.0     4.0   NaN       1     1  NaN
1     2        hall      2     1.0     2.0   1.0       2  None  1.0
2     3     kitchen      1     NaN     NaN   2.0       1     2  NaN
3     4     bedroom      2     1.0     1.0   1.0       2     1  1.0
4     5     balcony      1     NaN     2.0   NaN       1     2  1.0
5     6  guest room      1     1.0     2.0   2.0       2   onw  2.0>

shape method tells us number of rows and columns present in the data frame

In [11]:
house.shape

(6, 9)

In [12]:
house.size

54

In [13]:
type(house)

pandas.core.frame.DataFrame

In [14]:
type(house['room'])

pandas.core.series.Series

In [15]:
house.head(4)

   s.no     room  doors  window  chairs  sofa  lights  fans   tv
0     1  dinning      1     2.0     4.0   NaN       1     1  NaN
1     2     hall      2     1.0     2.0   1.0       2  None  1.0
2     3  kitchen      1     NaN     NaN   2.0       1     2  NaN
3     4  bedroom      2     1.0     1.0   1.0       2     1  1.0

In [16]:
house.tail(4)

   s.no        room  doors  window  chairs  sofa  lights fans   tv
2     3     kitchen      1     NaN     NaN   2.0       1    2  NaN
3     4     bedroom      2     1.0     1.0   1.0       2    1  1.0
4     5     balcony      1     NaN     2.0   NaN       1    2  1.0
5     6  guest room      1     1.0     2.0   2.0       2  onw  2.0

In [17]:
house['doors'].value_counts()

1    4
2    2
Name: doors, dtype: int64

In [18]:
house.isnull()

    s.no   room  doors  window  chairs   sofa  lights   fans     tv
0  False  False  False   False   False   True   False  False   True
1  False  False  False   False   False  False   False   True  False
2  False  False  False    True    True  False   False  False   True
3  False  False  False   False   False  False   False  False  False
4  False  False  False    True   False   True   False  False  False
5  False  False  False   False   False  False   False  False  False

In [19]:
house.dropna()

   s.no        room  doors  window  chairs  sofa  lights fans   tv
3     4     bedroom      2     1.0     1.0   1.0       2    1  1.0
5     6  guest room      1     1.0     2.0   2.0       2  onw  2.0

In [20]:
house.dropna(thresh=2)

   s.no        room  doors  window  chairs  sofa  lights  fans   tv
0     1     dinning      1     2.0     4.0   NaN       1     1  NaN
1     2        hall      2     1.0     2.0   1.0       2  None  1.0
2     3     kitchen      1     NaN     NaN   2.0       1     2  NaN
3     4     bedroom      2     1.0     1.0   1.0       2     1  1.0
4     5     balcony      1     NaN     2.0   NaN       1     2  1.0
5     6  guest room      1     1.0     2.0   2.0       2   onw  2.0

In [22]:
x=house['window'].mean()

In [23]:
x

1.25

In [24]:
y=house['chairs'].mode()

In [25]:
y

0    2.0
Name: chairs, dtype: float64

In [34]:
z=house['fans'].median()

In [35]:
z

1.0

In [36]:
house.fillna(value=z)

   s.no        room  doors  window  chairs  sofa  lights  fans   tv
0     1     dinning      1     2.0     4.0   1.0       1   1.0  1.0
1     2        hall      2     1.0     2.0   1.0       2   1.0  1.0
2     3     kitchen      1     1.0     1.0   2.0       1   2.0  1.0
3     4     bedroom      2     1.0     1.0   1.0       2   1.0  1.0
4     5     balcony      1     1.0     2.0   1.0       1   2.0  1.0
5     6  guest room      1     1.0     2.0   2.0       2   1.0  2.0

In [37]:
house.nunique()

s.no      6
room      6
doors     2
window    2
chairs    3
sofa      2
lights    2
fans      2
tv        2
dtype: int64

In [38]:
pd.get_dummies(house, columns=["doors"]).head()

   s.no     room  window  chairs  sofa  lights  fans   tv  doors_1  doors_2
0     1  dinning     2.0     4.0   NaN       1   1.0  NaN        1        0
1     2     hall     1.0     2.0   1.0       2   NaN  1.0        0        1
2     3  kitchen     NaN     NaN   2.0       1   2.0  NaN        1        0
3     4  bedroom     1.0     1.0   1.0       2   1.0  1.0        0        1
4     5  balcony     NaN     2.0   NaN       1   2.0  1.0        1        0

In [39]:
from sklearn.preprocessing import OrdinalEncoder
obj=OrdinalEncoder()
house['encode']=obj.fit_transform(house[['doors']])
house.head()

   s.no     room  doors  window  chairs  sofa  lights  fans   tv  encode
0     1  dinning      1     2.0     4.0   NaN       1   1.0  NaN     0.0
1     2     hall      2     1.0     2.0   1.0       2   NaN  1.0     1.0
2     3  kitchen      1     NaN     NaN   2.0       1   2.0  NaN     0.0
3     4  bedroom      2     1.0     1.0   1.0       2   1.0  1.0     1.0
4     5  balcony      1     NaN     2.0   NaN       1   2.0  1.0     0.0

2)Write short description of encoding & its methods

Encoding in Python refers to the process of converting data from one format to another.

There are several encoding methods available in Python, including:

1.ASCII encoding: This method converts ASCII characters to binary format.

2.Unicode encoding: This method represents characters in a standard format, allowing
for multilingual support.

3.UTF-8 encoding: This is a variable-width encoding method that can represent any
Unicode character.

4.Base64 encoding: This method is used to convert binary data into ASCII characters,
making it easier to transmit over text-based protocols